header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin:  0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #d19110;
    text-decoration: underline;
}

main{
    background: url("beneficios.jpg");
    padding-bottom: 500px;
    background-size: cover;
}

.principal {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.paragrafo {
    font-size: 18px;
    font-style: oblique;
}

.itens{
    font-size: 18px;
}

.titulo-centralizado {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.beneficios {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    top: 500px;
    
}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}
